# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Vue template
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

### Example user template template
### Example user template

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
{{#unit}}
/test/unit/coverage/
{{/unit}}
{{#e2e}}
/test/e2e/reports/
selenium-debug.log
{{/e2e}}

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
